grpcio-health-checking==1.44.0
grpcio==1.44.0
python-json-logger==0.1.11
requests==2.27.1
urllib3==1.26.18
rsa==4.7
pyyaml==6.0
opentelemetry-distro[otlp]==0.28b1
opentelemetry-instrumentation==0.28b1
